<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail View</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <br>
  <br>
  <div style="background-color: #3d84a8;">
    <span style="color: white;" class="navbar-brand mb-0 h1">Search & Pick services</span>
 </div>
<br><br>
  <center>
    <img src="{{object.cinemahall_image.url}}" class="img-circle" width=50%>
    <br>
    <br>
    <div  style="font-size:medium " class="container">
      
    <table class="table">
      <tr>
        <td><strong>Name:</strong> {{ object.cinemahall_name}}</td>
      </tr>
      <tr>
        <td><strong>Address:</strong> {{object.cinemahall_address}}</td>
      </tr>
      <tr>
        <td><strong>Seats:</strong> {{object.seats}}</td>
      </tr>
      <tr>
        <td><strong>Timings of movie : </strong> {{object.timing}}</td>
      </tr>
      <tr>
        <td><strong>Current movie:</strong> {{object.current_movie}}</td>
      </tr>
      <tr>
        <td><strong>Place:</strong> {{object.cinemahall_place.place_name}}</td>
      </tr>
      <tr>
        <td><strong>Contact info:</strong> {{object.cinemahall_contactinfo}}</td>
    </tr>
    
    <tr>
    <td>
    <a href="{% url 'cinemahall_update' object.id %}"><button type="button" class="btn btn-success">Update</button></a>
    </td>
      </tr>
        
        </table>
    </div>

    
  </center>
</body>
</html>