{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'authentication/styles1.css' %}">
    <title>Add cinemahall</title>
</head>
<style>
    .button {
      background-color: #8f0ff7; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      box-shadow: 0 8px 16px 0 rgba(202, 29, 29, 0.2), 0 6px 20px 0 rgba(243, 5, 5, 0.19);
    }
    
    
    </style>
<body><center>
        <h1 style="color:#8f0ff7;"><u><b> FORM TO ADD CINEMA HALLS </b></u></h1>
        <form action="{% url 'form' %}" method='POST'>
            <div style = "max-width:470px;font-size: 150%;">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class="button" value="submit">
                
                </div>
        </form>
    </center>
</body>
</html>