<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles.css">

  </head>
  <body>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box">
                    <h1>Register</h1>
                    <p class="text-muted" style="color:white">Enter username and password to register</p> <input type="text" name="" placeholder="Username">
                        <label for="Select" style="color:white">Pick a service: </label>
                        <br>
                        <br>
                        <select style="width:150px;height:30px;">
                          <option value="0">Hotels</option>
                          <option value="1">Restaurants</option>
                          <option value="2">Shopping malls</option>
                          <option value="3">Cinema halls</option>
                          <option value="4">Hospitals</option>


                        </select>

                    <input type="password" name="" placeholder="Password"><input type="password" placeholder="Confirm password">  <input type="submit" name="" value="Register" href="#">

                </form>
            </div>
        </div>
    </div>
</div>


  </body>
</html>
